{% extends 'parent/base.html' %}
{% block title %}Contact_US{% endblock title %}
{% block content %}
<div class="footer-box contact-box" style="text-align: center; background-color: snow; padding-bottom: 130px">
                <span class="title" style="color: orange">تماس با ما</span>
    <br>
    <br>
                <p><i class="fa fa-phone"></i> 09198392998</p>
    <br>

    <p><i class="fa fa-phone"></i> 09389660893</p>
    <br>
                <p><i class="fa fa-envelope-o"></i> amirmahid.dehghani313@gmail.com</p>
    <br>
                <p><i class="fa fa-map-marker"></i> تهران </p>
            </div>
{% endblock content %}