{% extends 'parent/base.html' %}
{% block title %}Search{% endblock title %}
{% block content %}
    <div class="latest-posts">
        <div class="container-fluid">
            <div class="col-md-9">
                <div class="blog-title-span">
                    <span class="title">جستجو برای : " {{ query }}"</span>
                </div>
                {% if query %}
                    {% for result in results %}
                        <div class="col-md-4">
                            <div class="post-box">
                                <a href="{{ result.get_absolute_url }}">
                                    <figure>
                                        <img src="{{ result.image.url }}" alt="">
                                        <figcaption class="meta-fig">
                                            <span><i class="fa fa-clock-o"></i> {{ result.created }}</span>&nbsp;
                                            <span><i class="fa fa-comment-o"></i>{{ result.comments.count }}</span>
                                        </figcaption>
                                        <figcaption class="view">
                                            <span>{{ result.category }}</span>
                                        </figcaption>
                                    </figure>
                                    <div class="text-p">
                                        <h5>{{ result.title }}</h5>
                                        <p>{{ result.content }}
                                        </p>
                                        <div class="text-rigt">
                                            <a href="{{ result.get_absolute_url }}">ادامه ...</a></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-3 main-content">
                <div class="top-sidebar-r">
                    <span class="title">عکس</span>
                    {% for photo in photos %}
                        <a href="{{ photo.get_absolute_url }}">
                            <div class="bx">
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <figure>
                                            <img src="{{ photo.image1.url }}" alt="">
                                            <figcaption><span>1</span></figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="meta">
                                        <h5>
                                            {{ photo.title }}</h5>
                                        <span><i class="fa fa-clock-o"></i> {{ photo.created }}</span>
                                        <div class="text-left">
                                            <sub><i class="fa fa-comment"></i> {{ photo.comments.count }}</sub>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <br>
                <div class="l-sidebar">
                    <div class="cat-sidebar report">
                        <span class="title">گزارش</span>
                        <div class="text-left"><i class="fa fa-arrows-alt"></i></div>
                        <ul>
                            {% for rep in reports %}
                                <li><a href="{{ rep.get_absolute_url }}">{{ rep.content }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div>{% include 'partials/pagination.html' with page=results%}</div>
        </div>
    </div>
{% endblock content %}