{% extends 'parent/base.html' %}
{% block title %}Category{% endblock title %}
{% block content %}
    <div class="latest-posts">
        <div class="container-fluid">
            <div class="blog-title-span">
                <span class="title">ویدوها </span>
            </div>
            {% for vid in videos %}
                <div class="col-md-3">
                    <div class="post-box">
                        <a href="{{ vid.get_absolute_url }}">
                            <figure>
                                <img src="{{ vid.image.url }}" alt="">
                                <figcaption class="meta-fig">
                                    <span><i class="fa fa-comment-o"></i> {{ vid.comments.count }}</span>
                                    <span><i class="fa fa-clock-o"></i>{{ vid.created }}</span>&nbsp;

                                </figcaption>
                                <figcaption class="view">
                                    <span>{{ vid.category }}</span>

                                </figcaption>
                            </figure>
                            <div class="text-p">
                                <h5>{{ vid.title }}</h5>
                                <p>{{ vid.content }}</p>
                                <div class="text-rigt">
                                    <a href="{{ vid.get_absolute_url }}">ادامه ...</a></div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div>{% include 'partials/pagination.html' with page=videos %}</div>
        </div>
    </div>

{% endblock content %}